.autoform-image-select-container {
    margin-top: 8px;
    background-color: lightgrey;
    max-height: 400px;
    overflow: scroll;
    border: 8px solid lightgray;
}

.autoform-image-select-container .image-select-option {
    background: white;
    cursor: pointer;
    display: inline-block;
    width: 33.333%;
    float: left;
    padding: 5px;
    border: 2px solid lightgrey;
    position: relative;
}

.autoform-image-select-container .image-select-option .rounded{
    overflow: hidden;
    border-radius: 50%;
}

.autoform-image-select-container .image-select-option .top-right{
    position: absolute;
    top: 0;
    right: 5px;
}

/*.autoform-image-select-container .image-select-option:hover {*/
    /*background: #e6f9e6;*/
/*}*/

/*.autoform-image-select-container .selected.image-select-option {*/
    /*background: #b5edb5;*/
/*}*/